<% provide(:title, 'Help') %>

<h1>Help!</h1>

<p>Heroes of Ruby on Rails in brief</p>

<ul>
  <li>
    <%= link_to "Sign up!", signup_path %>
  </li>
  <li>
    Check out the Mercenary Market and recruit troops
  </li>
  <li>
    Review your legions in Army Overview
  </li>
  <li>
    Battle unsuspecting monsters in Battle and liberate their gold
  </li>
</ul>
