<div class="center hero-unit" style="background-image: url(<%= asset_path ('Home_Background.png')%>); height:281px">

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary", style: "margin-left:65px; margin-top:150px;" %>
</div>
