<td>
  <figure>
  <div>
    <%= link_to(image_tag(image_path_for(monster), class: "monsters_image", alt: "(picture of #{monster.name})"), monster) %>
  </div>

    <figcaption style="text-align:center">
    <%= link_to monster.name, monster, class: "monsters_label" %>
    <br>
    <%= "#{monster.cost}" %>
    </figcaption>
  </figure>
</td>
