<% provide(:title, 'Monster Market') %>
<h1>Monster Market</h1>
<p>Welcome to the market!</p>

<%= will_paginate %>

<table>
<% @monsters.in_groups_of(5, false) do |monsters| %>
  <tr>
    <% for monster in monsters %>
      <%= render monster %>
    <% end %>
  </tr>
<% end %>
</table>

<%= will_paginate %>
