<% provide(:title, 'Army Overview') %>
<h1>Your Army</h1>

<table>
  <tr>
    <%= render :partial => 'monster_stack', :collection => @monster_stacks, locals: {image_class: 'monsters_image'} %>
  </tr>
</table>
