@import "bootstrap";

/* Monsters index */

.monsters_square {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  overflow: hidden;
}

.monsters_content {
  position: absolute;
  height: 80%;
  width: 90%;
  max-width: 100px;
  max-height: 100px;
  padding: 10% 5%;
}

.monsters_table {
  display: table;
  height: 100%;
  width: 100%;
}

.monsters_cell {
  display: table-cell;
  height: 100%;
  width: 100%;
}

.monsters_label {
  text-align: center;
}

.monsters_image {
  max-width: 100px;
  max-height: 100px;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

.monsters_image-reversed {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
}
