<footer class="footer">
  <small>
    Heroes of Ruby on Rails by Jonathan Lorenowich
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
